@media screen and (max-width: 1247px){

   .swiper-container{ width: 99.6% ;}
}

@media screen and (max-width: 860px){

   .swiper-container{ width: 85% ;}
}
@media screen and (max-width: 320px){
  
  .swiper-container{ width: 73% ;}
}